# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# PyCharm
.idea/

# uv
uv.lock

# OS specific
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Type checking
.mypy_cache/
